html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    background: #F6F7FB;
    border-radius: 12px;
}

p, h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.type {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #334680;
    border: 1px solid #334680;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px 8px;
    width: 70px;
}

.location {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #B9BDCF;
    background-image: url('../assets/public.svg');
    background-repeat: no-repeat;
    background-size: 1rem;
    padding-left: 1.5rem;
}

.creation {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #B7BCCE;
}