.jobs {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #282538;
}

.header_container {
    background-image: url('../backgroundImg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 138px;
    border-radius: 8px;
    display: flex;
    
    & .header_form {
         width: 790px;
        margin-right: 18px;
        margin-left: 18px;
        align-self: center;
        & .header_fieldset {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            border: none;
        }
    }
}

.header_button {
    background: #1E86FF;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 14px 48px;
    border: none;
    margin-right: 4px;
}

.header_input {
    width: 50%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 48px;
    border: none;
    background-image: url('../assets/work.svg');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 5% 50%;
}

@media (min-width: 1000px) {
    .header_container {
        & .header_form {
            margin-right: auto;
            margin-left: auto;
        }
    }
}