.header_container {
    background-image: url('../backgroundImg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header_button {
    background: #1E86FF;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}